<main>
  <section class="photo-gallery">
    <div class="photo-container">
      <img src="assets/images/photo1.png" loading="lazy" alt="Photo 1" title="bed with plants" />
      <img src="assets/images/photo2.png" loading="lazy" alt="Photo 2" title="sofa" />
      <img src="assets/images/photo3.png" loading="lazy" alt="Photo 3" title="tub" />
      <img src="assets/images/photo4.png" loading="lazy" alt="Photo 4" title="overhead lamp" />
      <img src="assets/images/photo6.png" loading="lazy" alt="Photo 6" title="plant" />
      <img src="assets/images/photo5.png" loading="lazy" alt="Photo 5" title="home decor" />
    </div>
  </section>
</main>
