<header>
  <section class="profile">
    <div class="profile-photo">
      <img src="assets/images/profilePhoto.png" loading="lazy"
           alt="profile photo of Rodney Cotton"
           title="profile photo of Rodney Cotton" />
    </div>
    <h2>Rodney Cotton</h2>
    <h5>Helsinki, Finland</h5>
  </section>

  <section class="profile-stats">
    <div class="metadata-container">
      <div class="metadata-wrapper">
        <span class="number">100</span>
        <span class="profile-metadata">Posts</span>
      </div>
    </div>
    <div class="metadata-container">
      <div class="metadata-wrapper">
        <span class="number">2,242</span>
        <span class="profile-metadata">Followers</span>
      </div>
    </div>
    <div class="metadata-container">
      <div class="metadata-wrapper">
        <span class="number">1,432</span>
        <span class="profile-metadata">Following</span>
      </div>
    </div>
  </section>
</header>
